/* Google Font Styles */
@import url("https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&display=swap");

/* Main Elements */
:root {
  --color-bg: #0d1d25;
  --color2: #104c64;
  --color3: #c6c6d0;
  --color4: #d59d80;
  --color5: #c0754d;
  --color6: #b6410f;
  --color7: #4a4150;
  --color8: #142b35;
  --color-nav: #3e96b9;
}
html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;
  box-sizing: border-box;
}
body {
  font-size: 24px;
  font-family: "Agdasima", sans-serif;
  background-color: var(--color-bg);
  color: var(--color3);
}
h2 {
  color: var(--color6);
}
footer {
  color: var(--color5);
  font-size: 18px;
}
header {
  background-color: var(--color8);
}
/* Navbar */

nav,
.nav-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  list-style: none;
}
.nav-list li {
  margin-right: 20px;
}
.nav-list li:last-child {
  margin-right: 0;
}
#name {
  font-weight: 700;
  font-size: 64px;
  color: var(--color-nav);
  text-decoration: underline;
  text-decoration-color: var(--color5);
  text-underline-offset: 1rem;
}
a {
  color: var(--color-nav);
  text-decoration: none;
  text-decoration-color: var(--color5);
}
a:hover {
  color: var(--color3);
  text-decoration: underline;
  text-decoration-color: var(--color5);
  text-underline-offset: 1rem;
}

/* Hamburger Nav */
#hamburger-nav {
  display: none;
}

/* PFP Icon Class */
.logo {
  height: 200px;
  width: 200px;
}

/* Tech Stack / Toolkit Icons Class */
.icons > img {
  height: 40px;
  width: 40px;
}
